<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Confi Sections-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--System Web-->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <!--System Codedom-->
  <!--Connection Strings-->
  <connectionStrings>
    <add name="AppLicenseManager_Entities" connectionString="metadata=res://*/AppLicenseManager.csdl|res://*/AppLicenseManager.ssdl|res://*/AppLicenseManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THIAGUERA-HOME;initial catalog=db_AppLicenseManager;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--EDMX CONNECTION-->
    <add name="AppLicenseManager_ConnectionString" connectionString="Data Source=THIAGUERA-HOME;Initial Catalog=db_AppLicenseManager;Integrated Security=True;Multiple Active Result Sets=True;Trust Server Certificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <!--SQL CONNECTION-->
  </connectionStrings>
  <!--App Settings-->
  <appSettings>
    <add key="SecurityKey" value="{D008CAEF-67DE-45DC-8441-27328C1FFCD0}" />
    <!--CRYPTOENGINE-->
  </appSettings>
  <!--Entity Framework-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>